/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#include <behaviors/num_word.dtsi>

#include "zmk-helpers/helper.h"
#include "iiwi.h"

/* LAYER MAPPING */
#define APT   0
#define NAV   1
#define NUM   2
#define FN    3
#define LNUM  4

/* I'IWI KEY MATRIX / LAYOUT MAPPING
      ╭─────────────────┬─────────────────╮
      │ LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 │
  ╭───╯ LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 ╰───╮
  │ LM4 LB3 LB2 LB1     │     RB1 RB2 RB3 RM4 │
  │ LB4 ╭─────╮ LH1 LH0 │ RH0 RH1 ╭─────╮ RB4 │
  ╰─────╯     ╰─────────┴─────────╯     ╰─────╯ */

/* COMBOS */
#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/* Crossbody combos */
ZMK_COMBO(capslock, &kp CAPSLOCK,  LT3 RT3, APT             , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(capsword, &caps_word,LM1 RM1,     APT             , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bslash, &kp BSLH,    LB1 RB1,     APT NAV NUM     , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(softoff, &soft_off,  LB1 RB1 RB2, APT NAV NUM     , COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Horizontal combos - left hand */
ZMK_COMBO(qu,    &qu,          LT2 LT1,     APT             , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(v,     &kp V,        LT3 LT2,     APT             , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(esc,   &kp ESC,      LT3 LT1,     APT NAV NUM LNUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous
// chording of mods.
ZMK_COMBO(tab,   &hl LC(LGUI)TAB,  LM3 LM1, APT NAV NUM LNUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(z,     &hl LS(LCTRL)Z,   LM4 LM3, APT             , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lshift,&sk LSHIFT,   LM3 LM2,     APT     NUM     , COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(q,     &kp Q,        LB3 LB2,     APT             , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(boot,  &bootloader,  LB4 LB3 LB2, APT             , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(numword,&num_word 4,   LM4 LH0,     APT             , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Vertical combos - left hand */
ZMK_COMBO(lbkt,  &kp LBKT,     LT3 LM3,     APT NAV NUM     , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(lbrc,  &kp LBRC,     LT2 LM2,     APT NAV NUM     , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(lpar,  &kp LPAR,     LT1 LM1,     APT NAV NUM     , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(lt,    &kp LT,       LT0 LM0,     APT NAV NUM     , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

/* Horizontal combos - right hand */
ZMK_COMBO(apos,  &kp APOS,     RT3 RT2,     APT NAV NUM     , COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(grave, &kp GRAVE,    RT2 RT1,     APT NAV NUM     , COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(enter, &hr RC(RGUI)ENTER,RM3 RM1, APT NAV NUM LNUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bspc,  &hr RA(RGUI)BSPC, RM2 RM1, APT NAV NUM LNUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rshift,&sk RSHIFT,   RM3 RM2,     APT     NUM     , COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(fslash,&kp SLASH,    RB2 RB1,     APT NAV NUM     , COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Vertical combos - right hand */
ZMK_COMBO(rbkt,  &kp RBKT,     RT3 RM3,     APT NAV NUM     , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(rbrc,  &kp RBRC,     RT2 RM2,     APT NAV NUM     , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(rpar,  &kp RPAR,     RT1 RM1,     APT NAV NUM     , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(gt,    &kp GT,       RT0 RM0,     APT NAV NUM     , COMBO_TERM_SLOW, COMBO_IDLE_SLOW)


/* GLOBAL DEFAULTS */
&lt { quick-tap-ms = <200>; };

&soft_off { hold-time-ms = <5000>; };

/ {
    behaviors {
        hl: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods left";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <190>;
            quick-tap-ms = <100>;

            // global-quick-tap;

            bindings = <&kp>, <&kp>;

            hold-trigger-on-release;
            hold-trigger-key-positions = <4 5 6 7 13 14 15 16 17 22 23 24 25 28 29>;
            require-prior-idle-ms = <100>;
        };

        hr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods right";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <190>;
            quick-tap-ms = <100>;

            // global-quick-tap;

            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <1 2 3 8 9 10 11 12 18 19 20 21 26 27 0>;
            hold-trigger-on-release;
        };

        dotcol: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COL";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        comsem: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COM_SEM";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        qu: qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp U>;
            label = "QU";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        aptmak {
            bindings = <
                  &kp W               &kp F           &kp P           &kp B        &kp J    &kp L            &kp U            &kp Y
&hl LEFT_SHIFT R  &hl LEFT_CONTROL S  &hl LEFT_ALT T  &hl LEFT_GUI H  &kp K        &kp X    &hr RIGHT_GUI N  &hr RIGHT_ALT A  &hr RIGHT_CONTROL I  &hr RIGHT_SHIFT O
&trans            &kp C               &kp G           &kp D                                 &kp M            &comsem          &dotcol              &trans
                                                      &trans          &lt 1 SPACE  &lt 2 E  &trans
            >;
        };

        nav {
            bindings = <
          &kp LA(F4)  &kp LG(LEFT)  &kp LG(RIGHT)  &kp LC(W)  &kp PAGE_UP    &kp PRINTSCREEN   &kp UP             &kp HOME
&kp LEFT  &kp DOWN    &kp UP        &kp RIGHT      &kp LG(Z)  &kp PAGE_DOWN  &kp LEFT          &kp DOWN           &kp RIGHT             &kp END
&trans    &kp LG(C)   &kp LG(X)     &kp LG(V)                                &kp LC(LS(LEFT))  &kp LS(LC(RIGHT))  &kp LS(LC(UP_ARROW))  &trans
                                    &trans         &trans     &mo 2          &trans
            >;
        };

        symnum {
            bindings = <
          &kp EXCL  &kp AT_SIGN  &kp POUND  &kp DOLLAR  &kp EQUAL  &kp N1  &kp N2  &kp N3
&kp SEMI  &kp STAR  &kp UNDER    &kp MINUS  &kp PIPE    &kp N0     &kp N4  &kp N5  &kp N6  &kp COLON
&trans    &kp PLUS  &kp PERCENT  &kp AMPS                          &kp N7  &kp N8  &kp N9  &trans
                                 &trans     &mo 1       &trans     &trans
            >;
        };

        fun {
            bindings = <
         &kp F1  &kp F2  &kp F3  &kp F10  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3
&kp F12  &kp F4  &kp F5  &kp F6  &kp F11  &out OUT_TOG  &kp C_PP      &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE
&trans   &kp F7  &kp F8  &kp F9                         &bootloader   &soft_off     &bt BT_CLR    &trans
                         &trans  &trans   &trans        &trans
            >;
        };

        lnum {
            bindings = <
         &kp N1  &kp N2  &kp N3  &trans  &trans  &trans  &trans  &trans
&kp DOT  &kp N4  &kp N5  &kp N6  &kp N0  &trans  &trans  &trans  &trans  &trans
&trans   &kp N7  &kp N8  &kp N9                  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        fun {
            if-layers = <2 1>;
            then-layer = <3>;
        };
    };
};
