/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#include <behaviors/num_word.dtsi>

#include "zmk-helpers/helper.h"
#include "iiwi.h"

/* LAYER MAPPING */
#define APT   0
#define NAV   1
#define NUM   2
#define FN    3
#define LNUM  4

#define XXX &none
#define ___ &trans

/* GLOBAL DEFAULTS */
&lt { quick-tap-ms = <200>; };

&soft_off { hold-time-ms = <5000>; };

ZMK_LAYER(base,
     //               ╭─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────╮
                        &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y
     // ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
          &hl LGUI R    &hl LALT S    &hl LCTRL T   &hl LSHFT H   &kp K             &kp X         &hr RSHFT N   &hr LCTRL A   &hr LALT I    &hr LGUI O
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯   ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          XXX           &kp C         &kp G         &kp D                                         &kp M         &kp COMMA     &kp DOT       XXX
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮   ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                    &lt NAV SPACE &kp TAB           &kp RET       &ss_cw
     //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)
